<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="WI9F_89CgcujDanrmDXrbSozmM2JpbjIFcBCAOXQk2g" />

    <title><%= current_page.data.title || "partial :: Conf -> Page" %></title>

    <link rel="shortcut icon" href="/favicon.ico">

    <meta property="og:title" content="PartialConf 2017 – 22-23 September 2016" />
    <meta property="og:site_name" content="PartialConf 2017" />
    <meta property="og:url" content="http://partialconf.com/" />
    <meta property="og:description" content="Conference about functional technologies on the web. Visit Sofia, Bulgaria on September 22—23, 2017." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://partialconf.com/<%= image_path 'og_card.png' %>" />

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= partial 'fb_pixel' %>
  </head>
  <body class="blog-layout">
    <%= partial 'fb_events' %>
    <%= partial 'header' %>

    <div class="container">
      <div class="post-header">
        <h1><%= current_page.data.title %></h1>
        <div class="post-meta">
          Posted on <time><%= DateTime.parse(current_page.data.date).strftime('%B %e, %Y') %></time>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <%= partial 'footer' %>
    <%= partial 'analytics' %>
  </body>
</html>
