<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="WI9F_89CgcujDanrmDXrbSozmM2JpbjIFcBCAOXQk2g" />

    <title><%= current_page.data.title || "partial :: Conf -> Page" %></title>

    <link rel="shortcut icon" href="/favicon.ico">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="blog-layout">
    <%= partial 'header' %>

    <div class="container">
      <div class="post-header">
        <h1><%= current_page.data.title %></h1>
        <div class="post-meta">
          Posted on <time><%= DateTime.parse(current_page.data.date).strftime('%B %e, %Y') %></time>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <%= partial 'footer' %>
    <%= partial 'analytics' %>
  </body>
</html>
