---
title: "partial :: Conf &rarr; Blog"
---

<%= partial 'header' %>

<div class="spacing-both">
  <div class="container blog">
    <% blog.articles.each do |article| %>
    <article>
      <h1>
        <a class="fancy" href="<%= article.url %>"><%= article.title %></a>
      </h1>

      <div class="meta">
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </div>

      <p><%= article.summary %></p>

      <a class="fancy" href="<%= article.url %>">Read more</a>
    </article>
    <% end %>
  </div>
</div>

<%= partial 'footer' %>
