---
title: "partial :: Conf &rarr; Homepage"
---

<div class="header">
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf 2017</h1>
    <h2>22–23 September, Sofia</h2>
    <p>
      Software conference focusing on modern functional languages and
      technologies used on the web. We bring people from different parts of the
      functional world to exchange ideas.
    </p>

    <a href="/tickets" class="btn-primary btn-invert">Tickets</a>
    <a href="#apply" class="btn-default btn-invert">Become a speaker</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>About Partial</h2>
      <p>
        We're that new conference showcasing the latest functional web
        technologies. We provide you with an opportunity to meet experts in
        the field and to discuss ways to make your work better!
      </p>
      <p>
        We've got the perfect recipe for you to enjoy a couple of
        early-autumn days packed full of lectures &amp; workshops covering the spectrum
        of functional web technologies &mdash; all the while enjoying the hidden gem
        that is Sofia.
      </p>

      <a href="https://medium.com/@partialconf/announcement-2335684ba05d" class="btn-primary">Full announcement &rarr;</a>
    </div>
  </div>
</div>

<div class="lineup light spacing-both">
  <div class="container section-title">
    <h2 id="speakers">Speakers</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/michal.jpg' %>
        </div>

        <strong>Michał Muskała</strong>
        <small><em>Ecto</em> Core Team</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/sasa.png' %>
        </div>

        <strong>Saša Jurić</strong>
        <small><em>Elixir</em> in Action</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/bozhidar.jpg' %>
        </div>

        <strong>Bozhidar Batzov</strong>
        <small><em>Clojure</em>, CIDER, Rubocop</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/ilias.png' %>
        </div>

        <strong>Ilias Van Peer</strong>
        <small><em>Elm</em> Aficionado </small>
      </div>
    </div>
  </div>
</div>

<div class="light spacing-bottom" id="subscribe">
  <div class="container cta">
    <a href="/#apply" class="btn-primary">Send proposal</a>
  </div>
</div>

<div class="dark spacing-both image sofia">
  <div class="overlay"></div>
  <div class="container text">
    <h2>Subscribe for news</h2>

    <p>
      We'll be rolling out tickets soon. Subscribe to our newsletter
      to keep up to date with ticket announcements and everything
      Partial related.
    </p>

    <p>
      Your email won't be shared with sponsors or any other third
      party.
    </p>

    <div class="mailchimp">
      <div id="mc_embed_signup">
        <form action="//partialconf.us15.list-manage.com/subscribe/post?u=956b02b076ff39618af330bb0&amp;id=6e539c98fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
            <div class="hide"><input type="text" name="b_956b02b076ff39618af330bb0_6e539c98fc" tabindex="-1" value=""></div>
            <button class="btn-primary btn-invert" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="spacing-both" id="apply">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'library_accent.png' %>
    </div>
    <div class="spotlight accent-cointainer">
      <div class="col">
        <h3>Call for speakers</h3>

        <p>
          We are focusing on modern functional programming languages and
          technologies for the web. Our talks are 40 minutes long and we have 3
          half-day training slots. What are we interested in? Here are some
          examples:
        </p>

        <ul>
          <li>Erlang, Elixir</li>
          <li>Clojure, ClojureScript</li>
          <li>Elm, PureScript, Haskell</li>
          <li>React, Redux</li>
          <li>Everything λ</li>
        </ul>

        <p>The deadline is 16th of June.</p>

        <div class="btn-wrapper">
          <a href="https://goo.gl/qGfmds" class="btn-primary" target="_blank">Send proposal</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spacing-both light">
  <div class="container accent-container">
    <div class="spotlight accent-cointainer">
      <div class="col">
        <h3>Call for sponsors</h3>

        <p>
          We are excited to bring such an event to Southeast Europe. For that we need all the help we can get.
        </p>
      </div>

      <div class="col">
        <div class="btn-wrapper">
          <a href="/sponsorship" class="btn-primary">Become a sponsor</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
