---
title: Homepage
---

<%= partial 'header', locals: { home: true } %>

<div class="header">
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf -> 2017</h1>
    <h2>22–23 September, Sofia</h2>

    <p>
      Software conference focusing on modern functional languages and
      technologies used on the web. We bring people from different parts of the
      functional world to exchange ideas.
    </p>

    <a href="#tickets" class="btn-primary btn-invert">Buy Tickets</a>
  </div>

</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>About Partial</h2>

      <p>
        We're that new conference showcasing the latest functional web
        technologies. We provide you with an opportunity to meet experts in
        the field and to discuss ways to make your work better!
      </p>

      <p>
        We've got the perfect recipe for you to enjoy a couple of
        early-autumn days packed full of lectures &amp; workshops covering the spectrum
        of functional web technologies &mdash; all the while enjoying the hidden gem
        that is Sofia.
      </p>

      <%= link_to 'Full announcement →', 'blog/announcement', class: 'btn-primary' %>
    </div>
  </div>
</div>

<div class="lineup light spacing-both">
  <div class="container section-title">
    <h2 id="speakers">Lineup</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <% data.speakers.each do |speaker| %>
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>

          <strong><%= speaker.name %></strong>
          <small><%= speaker.tagline %></small>
        </a>
      <% end %>

      <% data.trainers.each do |speaker| %>
      <div class="speaker">
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>
        </a>

        <strong><%= speaker.name %></strong>
        <small><%= speaker.tagline %></small>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="spacing-both">
  <div class="container">
    <h2 id="tickets">Tickets</h2>
    <p>
      This is the ticket reservation form for Partial. If you need more
      information or an invoice, please consult with the <a href="/tickets#faq">Tickets FAQ section</a>.
    </p>
    <script src="https://cdn.weemss.com/compiled/js/integration-embed.js?v76.9"></script><iframe src="https://event.gg/6168/form/6162" id="weemss_integration_6162" frameBorder="0" width="100%" height="450" scrolling="no"></iframe>
  </div>
</div>

<div class="dark spacing-both image sofia">
  <div class="overlay"></div>
  <div class="container text">
    <h2>Subscribe for news</h2>

    <p>
      We have lot's of exciting things in the works. Subscribe to our
      newsletter to be the first to learn about them. Your email won't be
      shared with sponsors or any other third party.
    </p>

    <div class="mailchimp">
      <div id="mc_embed_signup">
        <form action="//partialconf.us15.list-manage.com/subscribe/post?u=956b02b076ff39618af330bb0&amp;id=6e539c98fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
            <div class="hide"><input type="text" name="b_956b02b076ff39618af330bb0_6e539c98fc" tabindex="-1" value=""></div>
            <button class="btn-primary btn-invert" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="spacing-both light">
  <div class="container accent-container">
    <h2>Our partners</h2>

    <div class='index-sponsors-section'>
      <% data.sponsors.each do |meta| %>
        <% meta.sponsors.each do |sponsor| %>
          <span class="sponsor-avatar">
            <%= link_to image_tag(sponsor.logo), "/partners##{sponsor.id}" %>
          </span>
        <% end %>
      <% end %>
    </div>

    <p>
      If your company is interested in supporting Partial, you can learn more
      about the partner opportunities by following the link below.
    </p>

    <div class='index-sponsors-section'>
      <a href="/sponsorship" class="btn-primary">Become a partner</a>
    </div>
  </div>
</div>

<%= partial 'footer' %>
