<div class="header">
  <div class="overlay"></div>
  <div class="container">
    <h1><a href="#" class="logo logo-sm">partial :: Conf 2017</a></h1>
    <h2>22–23 September, Sofia</h2>
    <p>Software conference focusing on the modern functional languages and technologies used on the web. Our aim is to bring people from different parts of the functional world and exchange ideas.</p>

    <a href="#" class="btn-primary btn-invert">Tickets</a>
    <a href="#" class="btn-default btn-invert">Call for papers</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container">
    <h2>About the conference</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta eveniet nam quam. Vitae consectetur amet, consequatur qui maxime velit fugiat totam reprehenderit commodi nesciunt distinctio quibusdam, consequuntur labore pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta eveniet nam quam. Vitae consectetur amet, consequatur qui maxime velit fugiat totam reprehenderit commodi nesciunt distinctio quibusdam, consequuntur labore pariatur.</p>
  </div>
</div>
</div>

<div class="dark spacing-both">
  <div class="container">
    <h2>Call for speakers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta eveniet nam quam. Vitae consectetur amet, consequatur qui maxime velit fugiat totam reprehenderit commodi nesciunt distinctio quibusdam, consequuntur labore pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta eveniet nam quam. Vitae consectetur amet, consequatur qui maxime velit fugiat totam reprehenderit commodi nesciunt distinctio quibusdam, consequuntur labore pariatur.</p>
  </div>

  <div class="container">
    <br>
    <a href="#" class="btn-success btn-invert">Buy tickets</a>
    <a href="#" class="btn-default btn-invert">Learn more</a>
  </div>
</div>

<div class="light">

</div>

<div class="spacing-both">
  <div class="container">
    <h2>Speakers</h2>
    <br>

    <div class="speakers">
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
    </div>
  </div>
</div>

<div class="footer-sm">
  <div class="container">
    <div class="copy">
      &copy;2017 partial :: Conf
    </div>

    <nav>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </nav>
  </div>
</div>
