---
title: "partial :: Conf -> Homepage"
---

<div class="header">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf 2017</h1>
    <h2>22–23 September, Sofia</h2>
    <p>Software conference focusing on the modern functional languages and technologies used on the web. Our aim is to bring people from different parts of the functional world and exchange ideas.</p>

    <a href="#cfp" class="btn-default btn-invert">Call for Papers</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>About Partial</h2>
      <p>We are that new conference showcasing the latest functional web technologies, and providing you with an opportunity to meet experts in the field, and to discuss ways to make your work better!</p>
      <p>We have the perfect recipe for you to enjoy a couple of nice early-autumn days full of lectures and workshops covering the spectrum of functional web technologies, all the while enjoying the hidden gem that is Sofia.</p>

      <a href="#sofia" class="btn-primary">Learn more about Sofia &rarr;</a>
    </div>
  </div>
</div>

<div class="light spacing-both">
  <div class="container">
    <h2 id="speakers">Speakers</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/michal.jpg' %>
        </div>

        <strong>Michał Muskała</strong>
        <small>Ecto Core Team</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/sasa.png' %>
        </div>

        <strong>Saša Jurić</strong>
        <small>Elixir in Action</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/bozhidar.jpg' %>
        </div>

        <strong>Bozhidar Batzov</strong>
        <small>CIDER, Rubocop</small>
      </div>

      <a href="#cfp" class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/you.png' %>
        </div>

        <strong>Maybe You</strong>
        <small>Call for Papers</small>
      </a>
    </div>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2 id="cfp">Call for Papers</h2>
      <p>We seek to provide talks encompassing a wide variety of technologies. We welcome everyone with a strong interest in functional programming for the web to share their knowledge and experience.</p>
      <p>Whether it is a topic you have been researching for a while, or a piece of technology that has been giving you a hard time until you finally managed to reveal its inner workings, we would really like to hear what you have to share!</p>
      <a href="https://goo.gl/qGfmds" class="btn-primary btn-invert">Send proposal</a>
    </div>
  </div>
</div>

<div class="dark spacing-both image">
  <div class="overlay"></div>
  <div class="container text">
    <h2 id="sofia">About Sofia</h2>
    <p>What better time to enjoy the first days of autumn than late September? And what better place than sunny Sofia?</p>
    <p>We have delicious food, affordable prices, and a rapidly growing programming community with members involved in a variety of technologies.</p>
    <p>There are a myriad of activities you can partake in outside of our humble conference: go for a hike in Vitosha mountain, plan a one-day trip to Rila Monastery, or simply enjoy a relaxed walk on the streets of Sofia, taking a nice meal at one of the many restaurants in the city center.</p>
  </div>
</div>

<div class="subscribe">
  <input type="email" placeholder="Subscribe for news..." />
  <button class="btn-primary">&rarr;</button>
</div>

<div class="footer-sm">
  <div class="container">
    <div class="copy">
      &copy;2017 partial :: Conf
    </div>
  </div>
</div>
