---
title: "partial :: Conf -> Homepage"
---

<div class="header">
  <div class="overlay"></div>
  <div class="container">
    <h1><a href="#" class="logo logo-sm">partial :: Conf 2017</a></h1>
    <h2>22–23 September, Sofia</h2>
    <p>Software conference focusing on the modern functional languages and technologies used on the web. Our aim is to bring people from different parts of the functional world and exchange ideas.</p>

    <a href="#" class="btn-primary btn-invert">Tickets</a>
    <a href="#" class="btn-default btn-invert">Call for Speakers</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>About Partial</h2>
      <p>We are that new conference showcasing the latest functional web technologies, and providing you with an opportunity to meet experts in the field, and to discuss ways to make your work better!</p>
      <p>We have the perfect recipe for you to enjoy a couple of nice early-autumn days full of lectures and workshops covering the spectrum of functional web technologies, all the while enjoying the hidden gem that is Sofia.</p>

      <a href="#" class="btn-primary">Learn more about Sofia &rarr;</a>
    </div>
  </div>
</div>

<div class="light spacing-both">
  <div class="container">
    <h2>Speakers</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/michal.jpg' %>
        </div>

        <strong>Michał Muskała</strong>
        <small>Ecto Core Team</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/sasa.png' %>
        </div>

        <strong>Saša Jurić</strong>
        <small>Elixir in Action</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/bozhidar.jpg' %>
        </div>

        <strong>Bozhidar Batzov</strong>
        <small>CIDER, Rubocop</small>
      </div>

      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'speakers/you.png' %>
        </div>

        <strong>You Yourself</strong>
        <small>Call for Speakers</small>
      </div>
    </div>
  </div>
</div>

<div class="dark image spacing-both">
  <div class="overlay"></div>

  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>Call for Speakers</h2>
      <p>We seek to provide talks encompassing a wide variety of technologies. We welcome everyone with a strong interest in functional programming for the web to share their knowledge and experience.</p>
      <p>Whether it is a topic you have been researching for a while, or a piece of technology that has been giving you a hard time until you finally managed to reveal its inner workings, we would really like to hear what you have to share!</p>
      <a href="#" class="btn-primary btn-invert">Send proposal</a>
    </div>
  </div>
</div>

<div class="subscribe">
  <input type="email" placeholder="Subscribe for news..." />
  <button class="btn-primary">&rarr;</button>
</div>

<div class="footer-sm">
  <div class="container">
    <div class="copy">
      &copy;2017 partial :: Conf
    </div>
  </div>
</div>
