---
title: "partial :: Conf &rarr; Legal"
---

<%= partial 'header' %>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'nap.png' %>
    </div>

    <h2>Legal Information</h2>

    <p>Partial is represented by the following entity:</p>

    <p>
      <strong>EURUKO 2016</strong><br>
      <br>
      <strong>VAT:</strong> BG203844519<br>
      <strong>Street address:</strong> Banat 3, floor 1, apartment 3<br>
      <strong>City:</strong> Sofia<br>
      <strong>Postal code:</strong> 1407<br>
      <strong>Country:</strong> Bulgaria<br>
      <strong>Representative:</strong> Svetlozar Todorov
    </p>

    <a href="mailto:hi@partialconf.com" class="btn-primary">Ask us anything</a>
  </div>
</div>

<div class="light spacing-both">
  <div class="container">
    <h2 id="team">Team</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <a href="https://twitter.com/svetlozaurus" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/svetlik.jpg' %>
        </div>

        <strong>Svetlozar Todorov</strong>
        <small>@svetlozaurus</small>
      </a>

      <a href="https://twitter.com/gsamokovarov" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/genadi.png' %>
        </div>

        <strong>Genadi Samokovarov</strong>
        <small>@gsamokovarov</small>
      </a>

      <a href="https://twitter.com/svetliomihailov" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/svetliomihailov.jpg' %>
        </div>

        <strong>Svetlozar Mihailov</strong>
        <small>@svetliomihailov</small>
      </a>

      <a href="https://twitter.com/vestimir" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/vestimir.jpg' %>
        </div>

        <strong>Vestimir Markov</strong>
        <small>@vestimir</small>
      </a>
    </div>
  </div>
</div>


<%= partial 'footer' %>
