---
title: "partial :: Conf &rarr; Legal"
---

<%= partial 'header' %>

<div class="light spacing-both">
  <div class="container">
    <h2>Team 👋</h2>
    <p>
      Hi there, we are Vestimir, Genadi, Svetlio and Svetlio. You might have
      seen us running around like crazy on the 2016 edition of <a href="http://euruko2016.org">EuRuKo</a>.
      We make events about technologies we love in our little corner of the world.
    </p>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <a href="https://twitter.com/svetlozaurus" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/svetlik.jpg' %>
        </div>

        <strong>Svetlozar Todorov</strong>
        <small>@svetlozaurus</small>
      </a>

      <a href="https://twitter.com/gsamokovarov" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/genadi.png' %>
        </div>

        <strong>Genadi Samokovarov</strong>
        <small>@gsamokovarov</small>
      </a>

      <a href="https://twitter.com/svetliomihailov" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/svetliomihailov.jpg' %>
        </div>

        <strong>Svetlozar Mihailov</strong>
        <small>@svetliomihailov</small>
      </a>

      <a href="https://twitter.com/vestimir" class="speaker">
        <div class="avatar">
          <%= image_tag 'team/vestimir.jpg' %>
        </div>

        <strong>Vestimir Markov</strong>
        <small>@vestimir</small>
      </a>
    </div>
  </div>
</div>

<div class="spacing-both">
  <div class="container text">
    <h2>Legal Information</h2>

    <p><strong>Partial</strong> is represented by the following entity:</p>

    <p>
      <small>
        <strong>EURUKO 2016</strong><br>
        <br>
        <strong>VAT:</strong> BG203844519<br>
        <strong>Street address:</strong> Banat 3, floor 1, apartment 3<br>
        <strong>City:</strong> Sofia<br>
        <strong>Postal code:</strong> 1407<br>
        <strong>Country:</strong> Bulgaria<br>
        <strong>Representative:</strong> Svetlozar Todorov
      </small>
    </p>

    <br>

    <a href="mailto:hi@partialconf.com" class="btn-primary">Ask us anything</a>
  </div>
</div>

<%= partial 'footer' %>
