---
title: "partial :: Conf 2017"
---
<div class="header-sm fixed styleguide-nav">
  <div class="container">
    <div class="branding">
      <a href="#" class="logo logo-sm">partial :: Conf 2017</a>
    </div>

    <nav>
      <a href="#typography">Typography</a>
      <a href="#forms">Forms</a>
      <a href="#layout">Layout</a>
      <a href="#components">Components</a>
    </nav>
  </div>
</div>

<br>
<br>
<br>

<div class="container" id="typography">
  <h1 class="styleguide-section">Typography</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis <a href="#">minus sint nam</a> fugiat magni natus, a accusamus, facilis odio laboriosam enim recusandae reiciendis cum ex beatae illo itaque vero tempore!</p>

  <h2 class="styleguide-sub-section">Headings (H1-H4)</h2>

  <h1>Heading 1</h1>
  <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Voluptates, voluptatibus veritatis in, eos dolorum ab illo iste accusantium consectetur, ad incidunt modi repellat officia beatae! Neque repudiandae repellendus autem ut.</p>

  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, voluptatibus veritatis in, <em>eos dolorum ab illo</em> iste accusantium consectetur, ad incidunt modi repellat officia beatae! Neque repudiandae repellendus autem ut.</p>

  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, voluptatibus veritatis in, eos dolorum ab illo iste accusantium consectetur, ad incidunt modi repellat officia beatae! Neque repudiandae repellendus autem ut.</p>

  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, voluptatibus veritatis in, eos dolorum ab illo iste accusantium consectetur, ad incidunt modi repellat officia beatae! Neque repudiandae repellendus autem ut.</p>

  <h2 class="styleguide-sub-section">Lists</h2>

  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
  </ul>

  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
  </ol>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dignissimos temporibus minima voluptatum animi quod. Neque non, voluptatem esse, autem odio dignissimos tempore porro nam! Distinctio nulla, fuga asperiores magnam?</p>

  <h2 class="styleguide-sub-section">Table</h2>

  <table>
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <th>Column 4</th>
        <th>Column 5</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
    </tbody>
  </table>

  <h2 class="styleguide-sub-section">Image</h2>

  <figure>
    <img src="http://placehold.it/800x600" alt="">
    <figcaption>Image explanation</figcaption>
  </figure>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate repellat doloribus laborum recusandae commodi ut, modi deserunt earum natus. Rem facere nihil quos perspiciatis debitis molestias laboriosam neque adipisci ab!</p>

  <h2 class="styleguide-sub-section">Quote</h2>

  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum eaque rem excepturi, enim porro amet vitae inventore a.</p>
    <em>Source</em>
  </blockquote>
</div>

<div class="container" id="forms">
  <h1 class="styleguide-section">Forms</h1>

  <form>
    <div class="form-group">
      <label>Label</label>
      <input type="text" placeholder="Placeholder text..." />
    </div>

    <div class="form-group">
      <label>Label</label>
      <select>
        <option>Please select...</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>

    <div class="form-group">
      <label>Label</label>
      <textarea rows="8" cols="80" placeholder="Placeholder text..."></textarea>
    </div>

    <div class="form-group radio">
      <input type="radio" />
      <label>Label</label>
    </div>

    <br>

    <div class="form-group checkbox">
      <input type="checkbox" />
      <label>Label</label>
    </div>
  </form>
</div>

<div class="container">
  <h1 class="styleguide-section">Buttons</h1>

  <p>
    <a href="#" class="btn-default">Default</a>
    <a href="#" class="btn-primary">Primary</a>
    <a href="#" class="btn-success">Success</a>
    <a href="#" class="btn-text">Text</a>
  </p>

  <p>
    <a href="#" class="btn-default disabled">Default</a>
    <a href="#" class="btn-primary disabled">Primary</a>
    <a href="#" class="btn-success disabled">Primary</a>
    <a href="#" class="btn-text disabled">Text</a>
  </p>

  <p>
    <a href="#" class="btn-default btn-sm">Default (small)</a>
    <a href="#" class="btn-primary btn-sm">Primary (small)</a>
    <a href="#" class="btn-success btn-sm">Primary (small)</a>
    <a href="#" class="btn-text btn-sm">Text (small)</a>
  </p>
</div>

<div class="dark spacing-both">
  <div class="container">
    <p>
      <a href="#" class="btn-default btn-invert">Default</a>
      <a href="#" class="btn-primary btn-invert">Primary</a>
      <a href="#" class="btn-success btn-invert">Success</a>
      <a href="#" class="btn-text btn-invert">Text</a>
    </p>

    <p>
      <a href="#" class="btn-default btn-invert disabled">Default</a>
      <a href="#" class="btn-primary btn-invert disabled">Primary</a>
      <a href="#" class="btn-success btn-invert disabled">Primary</a>
      <a href="#" class="btn-text btn-invert disabled">Text</a>
    </p>

    <p>
      <a href="#" class="btn-default btn-invert btn-sm">Default (small)</a>
      <a href="#" class="btn-primary btn-invert btn-sm">Primary (small)</a>
      <a href="#" class="btn-success btn-invert btn-sm">Primary (small)</a>
      <a href="#" class="btn-text btn-invert btn-sm">Text (small)</a>
    </p>
  </div>
</div>

<div class="container" id="layout">
  <h1 class="styleguide-section">Headers</h1>
  <h2 class="styleguide-sub-section">Hero</h2>
</div>

<div class="header">
  <div class="overlay"></div>
  <div class="container">
    <h1><a href="#" class="logo logo-sm">partial :: Conf 2017</a></h1>
    <h2>22–23 September, Sofia</h2>
    <p>Software conference focusing on the modern functional languages and technologies used on the web. Our aim is to bring people from different parts of the functional world and exchange ideas.</p>

    <a href="#" class="btn-primary btn-invert">Tickets</a>
    <a href="#" class="btn-default btn-invert">Call for papers</a>
  </div>
</div>

<div class="container">
  <h2 class="styleguide-sub-section">Small header</h2>
</div>

<div class="header-sm">
  <div class="container">
    <div class="branding">
      <a href="#" class="logo logo-sm">partial :: Conf 2017</a>
    </div>

    <nav>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
      <a href="#" class="btn-primary btn-invert btn-sm">Tickets</a>
    </nav>
  </div>
</div>

<div class="container">
  <h1 class="styleguide-section">Footers</h1>
  <h2 class="styleguide-sub-section">Hero footer</h2>
</div>

<div class="footer dark">
  <div class="container">
    <div class="row">
      <div class="branding">
        <a href="#" class="logo logo-sm">partial :: Conf 2017</a><br />
        <small>22–23 September, Sofia</small>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <a href="#">info@partialconf.com</a><br>
        <a href="#">@partialconf</a><br>
        <a href="#">fb/partialconf</a><br>
        <a href="#">gh/partialconf</a>
      </div>

      <div class="col">
        <a href="#">Link 1</a><br>
        <a href="#">Link 2</a><br>
        <a href="#">Link 3</a><br>
        <a href="#">Link 4</a>
      </div>

      <div class="col">
        <a href="#">Link 1</a><br>
        <a href="#">Link 2</a><br>
        <a href="#">Link 3</a><br>
        <a href="#">Link 4</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="styleguide-sub-section">Small footer</h2>
</div>

<div class="footer-sm">
  <div class="container">
    <div class="copy">
      &copy;2017 partial :: Conf
    </div>

    <nav>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </nav>
  </div>
</div>

<div class="container" id="components">
  <h1 class="styleguide-section">Text section</h1>
</div>

<div class="spacing-both">
  <div class="container text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Magni necessitatibus animi</a> aperiam neque laborum at voluptatibus cumque ratione obcaecati, laudantium odio, id vel quis dolores, quidem. Cupiditate, necessitatibus!</p>
  </div>
</div>

<div class="dark image spacing-both">
  <div class="overlay"></div>
  <div class="container text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Magni necessitatibus animi</a>, assumenda aliquam natus, aut. Perferendis atque sunt, magni necessitatibus incidunt blanditiis iusto, quaerat quibusdam? Aperiam, at non iusto a.</p>
  </div>
</div>

<div class="container">
  <h1 class="styleguide-section">Call to action</h1>
  <h2 class="styleguide-sub-section">Primary</h2>
</div>

<div class="dark spacing-both">
  <div class="container cta">
    <a href="#" class="btn-success">Buy tickets</a>
    <a href="#" class="btn-default">Learn more</a>
  </div>
</div>

<div class="container">
  <h2 class="styleguide-sub-section">Secondary</h2>
</div>

<div class="dark image spacing-both">
  <div class="overlay"></div>
  <div class="container cta">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    <a href="#" class="btn-success btn-sm">Buy tickets</a>
    <a href="#" class="btn-default btn-sm">Learn more</a>
  </div>
</div>

<div class="container">
  <h2 class="styleguide-sub-section">Notification</h2>
</div>

<div class="dark spacing-both">
  <div class="container notification">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    <div class="actions">
      <a href="#" class="btn-success btn-sm">Buy tickets</a>
      <a href="#" class="btn-default btn-sm">Learn more</a>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="styleguide-section">Speakers</h1>
</div>

<div class="spacing-both">
  <div class="container">
    <div class="speakers">
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
      <div class="speaker">
        <div class="avatar">
          <%= image_tag 'avatar.jpg' %>
        </div>

        <strong>John Doe</strong>
        <small>CEO, Basecamp</small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="styleguide-section">Schedule</h1>
</div>

<div class="spacing-both">
  <div class="container schedule">
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>21 September</th>
          <th>22 September</th>
          <th>23 September</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="hour">09:00 - 10:00</th>
          <td></td>
          <td>
            <strong>John Doe</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
          <td rowspan="2">
            <strong>Workshops</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
        </tr>
        <tr>
          <th class="hour">09:00 - 10:00</th>
          <td></td>
          <td>
            <strong>John Doe</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
        </tr>
        <tr>
          <th class="hour">09:00 - 10:00</th>
          <td>
            <strong>John Doe</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
          <td>
            <strong>John Doe</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
          <td>
            <strong>John Doe</strong>
            <p>Introducing lengthy presentation name</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <h1 class="styleguide-section">Articles</h1>
</div>

<div class="light spacing-both">
  <div class="container">
    <div class="articles">
      <article>
        <a href="#" class="image-link">
          <%= image_tag 'http://placehold.it/460x300' %>
        </a>

        <a href="#" class="article-title">Article lengthy title, may occupy two lines</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsum quaerat expedita eos. </p>
      </article>

      <article>
        <a href="#" class="image-link">
          <%= image_tag 'http://placehold.it/460x300' %>
        </a>

        <a href="#" class="article-title">Article lengthy title, may occupy two lines</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsum quaerat expedita eos. </p>
      </article>
    </div>
  </div>
</div>
