---
title: Venue
---

<%= partial 'header' %>

<div class="spacing-both">
  <div class="container">
    <h1>Venue</h1>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'hilton_accent.jpg' %>
    </div>

    <div class="accent-content">
      <h2>Hilton Sofia</h2>

      <p>
        Partial will be held at Hilton Sofia, a cozy hotel located in the city
        center. It's easily accessible, situated the European Union and National
        Palace of Culture (NDK) metro stations.
      </p>

      <p>
        Sofia attractions including Alexander Newsky Cathedral are on a walking
        distance.
      </p>

      <%= link_to 'Official Site', 'http://www3.hilton.com/en/hotels/bulgaria/hilton-sofia-SOFHIHI/index.html', class: 'btn-primary' %>
    </div>
  </div>
</div>

<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCeOyXw-FqkARInG-fouDjKA&key=AIzaSyB6mPgfYkFaseJDB7SI9Rv0RwPSg7wPqfg" allowfullscreen></iframe>

<%= partial 'support' %>
<%= partial 'footer' %>
